/*//////////*/
/* CSS INIT */
/*//////////*/

html, body {
  width: 400px;
  overflow: hidden;
}
p{
	color: #ffffff;
}

body > .loader{
	z-index: 980;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: black;
	opacity: .7;
	overflow: hidden;
}
body > .loader .loader-div{
	z-index: 990;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 75%;
	transform: translateY(-50%) translateX(-50%);
}
body > .loader .loader-bar{
	width: 75%;
	height: 4px;
	background-color: #7289DA;
	animation-name: loader-div;
  	animation-duration: 1s;
  	animation-iteration-count: infinite;
}
@keyframes loader-div {
  0% {
  	width: 0;
  }
  50% {
  	margin-left: 30%;
  	width: 40%;
  }
  100% {
  	margin-left: 100%;
  	width: 0;
  }
}

/*////////*/
/* HEADER */
/*////////*/

header{
	background-color: #7289DA;
}
header p{
	text-align: center;
	margin: 3px;
}

header #js-currentWindowInfo a{
	background-color: #b70000;
	opacity: 0.8;
	padding: 1px 3px;
	border-radius: 2px;
	transition: .3s;
	cursor: pointer;
}
header #js-currentWindowInfo a#js-currentWindowInfo-sync{
	background-color: #009c1d;
}
header #js-currentWindowInfo a:hover{
	opacity: 1;
}

/*//////*/
/* MAIN */
/*//////*/

main{
	width: 800px;
	height: 450px;
	padding: 0;
	display: flex;
  	transform: translateX(0);
}
main.unswitched{
	animation-name: switch-main-left;
  	animation-duration: .5s;
}
@keyframes switch-main-left{
  0% {
	transform: translateX(-50%);
  }
  100% {
  	transform: translateX(0);
  }
}

main.switched {
	animation-name: switch-main-right;
  	animation-duration: .5s;
  	transform: translateX(-50%);
}
@keyframes switch-main-right{
  0% {
  	transform: translateX(0);
  }
  100% {
  	transform: translateX(-50%);
  }
}


main .left, main .right{
	margin: 0;
	padding: 0;
	height: 450px;
	width: 800px;
	background-color: #383a3e;
	overflow-y: scroll;
}

main .actions{
	display: flex;
	align-items: stretch;
	justify-content: center;
	background-color: #7289DA;
}
main .actions div{
	padding: 0 6px;
	margin: 4px;
	border-radius: 4px;
	background-color: #383a3e;
	transition: .3s;
	display: inline-block;
	opacity: 0.8;
	cursor: pointer;
}
main .actions div *{
	line-height: 28px;
	margin: 0 4px;
	display: inline-block;
}
main .actions div:hover{
	opacity: 1;
}
main .actions div.active{
	background-color: #009c1d;
}
main .actions div.noactive{
	background-color: #b70000;
}
main .actions i{
	color: white;
	font-size: 14px;
}
main .actions p{
	text-align: center;
	color: white;
	font-size: 12px;
}
main .actions input{
	height: 28px;
	background-color: #383a3e;
	color: white;
	border: none;
	border-radius: 4px;
	margin: 0 -6px;
	padding: 5px;
	font-size: 14px;
	text-align: center;
}

main .groups .group-div {
	margin: 0;
	padding: 0;
	border-bottom: 1px solid #8696a1;
	display: flex;
	align-items: stretch;
	transition: .3s;
	border-left: 4px solid rgba(0, 0, 0, 0);
}
main .groups .group-div.active{
	border-left: 4px solid #1fb700;
}
main .groups .group-div.common{
	/*margin-bottom: 5px;*/
}
main .groups .group-div p{
	padding: 5px 15px;
	margin: 0;
	font-size: 14px;
	flex-grow: 4;
	transition: .3s;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
main .groups .group-div p disc{
	opacity: 0.7;
}
main .groups .group-div:hover {
	background-color: #1f2225;
}
main .groups .group-div i{
	padding: 4px 12px;
	margin: 3px;
	float: right;
	color: white;
	background-color: #1f2225;
	border-radius: 4px;
	transition: .3s;
	cursor: pointer;
}
main .groups .group-div i:hover {
	background-color: #7289DA;
}
main .groups .group-div:hover i.pre-active {
	background-color: #7289DA;
}

main .groups .message{
	text-align: center;
	font-size: 14px;
	margin: 10px;
}

main .groups .adder{
	padding: 4px 10px;
	margin: 8px auto;
	width: 150px;
	border-radius: 4px;
	background-color: #1f2225;
	transition: .3s;
	cursor: pointer;
	text-align: center;
}
main .groups .adder:hover{
	background-color: #7289DA;
}
main .groups .adder i{
	color: white;
	font-size: 14px;
	display: inline-block;
	margin-right: 4px;
}
main .groups .adder p{
	text-align: center;
	margin: 3px;
	color: white;
	font-size: 14px;
	display: inline-block;
}

/*////////*/
/* FOOTER */
/*////////*/

footer{
	background-color: #7289DA;
	z-index: 100;
}
footer p{
	text-align: center;
	margin: 3px;
}
footer a{
	color: #ffffff;
}

/*//////////////*/
/* CONTEXT MENU */
/*//////////////*/

body > .contextmenu{
	display: none;
	position: absolute;
	top: 60px;
	max-width: 360px;
	max-height: 430px;
	overflow-y: scroll;
	padding: 10px 0;
	z-index: 500;
	background-color: #1f2225;
	border-radius: 5px;
}
body > .contextmenu p{
	padding: 6px 20px;
	margin: 0;
	transition: .3s;
	cursor: pointer;
}
body > .contextmenu p:hover{
	background-color: #7289DA;
}
body > .overlay {
	display: none;
	z-index: 490;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 1;
}

